# OS garbage, Editors, IDEs, etc
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/*

# Java Resources
/target
/*.iml
/images
/files
/nbactions.xml
/*.lic
/nb-configuration.xml
/0-resources
/dependency-reduced-pom.xml
logs
/.classpath
/.project
/RUNNING_PID